# Dependencies
node_modules/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# Local Netlify folder
.netlify/

# Environment files
.env
.env.*

# Editor/IDE
.vscode/
.idea/
.vercel
.env*.local
